:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;

  --cover-text-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --highlighted-text-color: #353430;
  --text-color: #353430;
  --section-title-color: var(--text-color);
  --header-decoration-color: #353430;
  --button-border-hover: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
  
    --cover-text-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --highlighted-text-color: #353430;
    --text-color: #353430;
    --section-title-color: var(--text-color);
    --header-decoration-color: #353430;
    --button-border-hover: 1px solid rgba(50, 49, 45, 0.4);
  }

  .rec-indicator {
    display: none;
  }
}